:host{
    display: block;
}
.welcome {
    height: calc( 100vh - 64px );
    background: url("/assets/wallpaper.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.welcome h1{
    font-size: 40px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 20px 0 black;
    padding: 1px;
}

.highlights{
    padding: 20px 10px;
}

.highlights h2{
    text-align: center;
    color:white;
    margin-bottom: 20px;
}

.highlights-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

.highlights-content > * {
    margin: 5px;
    max-width: 300px;
}

.highlights-content .event-card {
  justify-content: space-between;
  flex: 1
}

.card-header {
  padding-bottom: 8px;
}

.event-poster {
  object-fit: cover;
  height: 300px;
}
