<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ collection }}</mat-card-title>
    <mat-card-subtitle>{{ title }}</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="showroomForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      @for (field of formFields; track field.name) {
        <div>
          @if (field.name === "address") {
            @for (input of field.inputs; track input.name) {
              <app-shared-field-form [input]="input" [form]="addressForm"></app-shared-field-form>
            }
          } @else {
            <app-shared-field-form [input]="field" [form]="showroomForm"></app-shared-field-form>
          }
        </div>
      }
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <div class="container">
        <button mat-button type="button" [routerLink]="['/dashboard/showrooms']">
          <mat-icon aria-hidden="false" aria-label="arrow back ios icon"
            >arrow_back_ios</mat-icon
          >
        </button>
      </div>
      @if (showroom?._id) {
        <button
          mat-raised-button
          color="secundary"
          type="button"
          (click)="onDelete()"
        >
          Delete
        </button>
      }
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
