@if (range) {
  <div [formGroup]="form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>{{ timeFields.label }}</mat-label>
      <div class="timeRange">
        <span class="timeInput">
        <input
          matInput
          type="time"
          [placeholder]="timeFields.placeholder ?? ''"
          [formControlName]="timeFields.inputs?.[0]?.name ?? ''"
        />
      </span>
        <span class="timeDelimiter"><mat-icon>remove</mat-icon></span>
        <span class="timeInput">
        <input
          matInput
          type="time"
          placeholder="timeFields.placeholder ?? ''"
          formControlName="timeFields.inputs?.[1]?.name ?? ''"
        />
      </span>
      </div>
      <mat-icon matSuffix>access_time</mat-icon>
    </mat-form-field>
  </div>
} @else {
  <div [formGroup]="form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>{{ timeFields.label }}</mat-label>
      <div class="timeInput">
      <input
        matInput
        type="time"
        placeholder="timeFields.placeholder ?? ''"
        formControlName="timeFields.name"
      />
      </div>
      <mat-icon matSuffix>access_time</mat-icon>
    </mat-form-field>
  </div>
}
